.header {
  background: white;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    width: 260px;
    height: 100px;
  }

  &__actions {
    display: flex;
    gap: 70px;
    align-items: center;
  }

  &__info {
    display: flex;
    gap: 20px;
  }

  &__navigation {
    display: flex;
    gap: 15px;

    li:hover {
      color: #cf0000;
    }

    li .active {
      color: #111ea9;
      font-weight: 600;
    }
  }
}
